mkdocs-material[imaging]>=9.5
mkdocs-material-extensions
pymdown-extensions
mkdocs-htmlproofer-plugin
pillow>=12.0 # mkdocs-material[imaging] has elderly pillow demand
cairosvg~=2.6 # mkdocs-material[imaging]